html, body {
    background-image: url(./img_jordi/river_night\ 3\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.master_container {
    display: flex; /* Flexbox para alinear los divs horizontalmente */
    justify-content: center; /* Centramos horizontalmente el contenido dentro de master_container */
    align-items: center; /* Centramos verticalmente los divs */
    height: 100vh; /* Que ocupe el 100% de la altura de la pantalla */
    width: 40 vw; /* Que ocupe el 100% del ancho de la pantalla */
    
}


.container_tub {
    display: grid;
    width: 20vw; 
    height: 81vh; 
    background-color: rgba(0, 0, 0, 0.3) ; 
    margin: 35px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 2px;


}


.tablero {
    width: 40vw; /* 70% del ancho de la pantalla */
    height: 40vw; /* Ocupa el 100% de la altura del contenedor */
    background-color: rgba(0, 0, 0, 0.3) ;
    

    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 7 columnas de tamaño flexible */
    grid-template-rows: repeat(7, 1fr);   /* 7 filas de tamaño flexible */
    gap: 1px; /* Espacio entre los elementos de la cuadrícula */
}

.tablero > div {
    
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tablero div {
    width: 100%; /* Ocupa todo el ancho del grid */
    height: 100%; /* Ocupa todo el alto del grid */
    min-width: 100px; /* Ancho mínimo para los divs */
    min-height: 100px; /* Alto mínimo para los divs */
    
}

.tablero div img {
    width: 100%;
    height: 100%;
    
}

.tablero-nivel-2 {
    grid-template-columns: repeat(9, 1fr); /* 9 columnas */
    grid-template-rows: repeat(9, 1fr);    /* 9 filas */
}