@font-face {
    font-family: Fuente;
    src: url("/font/DePixelKlein.ttf");
}

.fons {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;



}

.container_joc {

    position: relative;
    border-radius: 1rem;

}


.titol_punts {

    position: absolute;
    top: 50px;
    left: 370px;
    color: white;
    font-family: Fuente;
    font-weight: 600;
    font-size: 34px;
    text-shadow:
        2px 2px 0px black,
        -2px 2px 0px black,
        2px -2px 0px black,
        -2px -2px 0px black;
}

.punts {
    position: absolute;
    top: 50px;
    left: 480px;
    color: white;
    font-family: Fuente;
    font-weight: 600;
    font-size: 34px;
    text-shadow:
        2px 2px 0px black,
        -2px 2px 0px black,
        2px -2px 0px black,
        -2px -2px 0px black;
    margin-left: 1rem;
}

.gota {

    position: absolute;

}

.container_vides {

    position: absolute;
    top: 75px;
    left: 1450px;


}

.cor {

    width: 50px;
    height: 50px;

}


.lletra_gota {

    position: absolute;
    font-size: 2rem;
    margin-top: 60px;
    margin-left: 30px;

}

.game-img {
    border-radius: 1rem;
    height: 90%;
    width: 70%;
}

.lletra_no_potable {

    color: white;


}