:root {
    --naranja: #FF6F1E;
    --azul: #2996d9;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("/img/river_day.gif");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4rem;
    color: var(--naranja)
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    100% {
        background-position: 100% 50%; /* End position */
    }
}

.navbar {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
}

.navbar-content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
}
.nav-links {
    display: flex;
    gap: 5rem;
}
.nav-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-weight: 500;
    transition-duration: 400ms;
}
.nav-links a:hover {
    color: white; /* Change color on hover */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container-text {
    color: white;
    /* color: var(--naranja); */
    font-size: 1.3rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    width: 45%;
    padding: 30px;
    text-shadow: 3px 3px 5px #000000;

}

button {
    /* background-color: white; */
    color: white;
    background-color: #FF6F1E;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    width: 10rem;
    margin-top: 100px; /* Adjust this value for desired spacing above the button */
}

.registro{
    height: 592px;
    width: 662px;
    border-radius: 36px;
    background-color: white;
}

.registro h1 {
    text-align: center; /* Centrar el texto del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    margin-top: 1px;
}


#formulario {
    display: flex;
    flex-direction: column; /* Colocar los elementos uno debajo del otro */
    max-width: 400px; /* Ancho máximo para el contenedor */
    margin: auto; /* Centrar el contenedor */
}

#formulario label {
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

#formulario input {
    margin-bottom: 32px; /* Espacio entre los campos de entrada */
    padding: 10px; /* Espaciado interno en los campos */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Bordes redondeados */
}

#formulario button {
    padding: 10px; /* Espaciado interno en el botón */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

#formulario button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

.div_registro{
    margin-top: 1px;
}