:root {
    --naranja: #FF6F1E;
    --azul: #2996d9;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url("/img/river_day.gif");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 4rem;
    color: var(--naranja)
}

.navbar {
    height: 10%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
}

.navbar-content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
}
.nav-links {
    display: flex;
    gap: 5rem;
}
.nav-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-weight: 500;
    transition-duration: 400ms;
}
.nav-links a:hover {
    color: white; /* Change color on hover */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container-text {
    color: white;
    /* color: var(--naranja); */
    font-size: 1.3rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    line-height: 1.5;
    text-align: center;
    width: 45%;
    padding: 30px;
    text-shadow: 3px 3px 5px #000000;

    
}

.container-text-description {
    margin-bottom: 4rem;
}

button {
    /* background-color: white; */
    color: white;
    background-color: #FF6F1E;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    width: 10rem;
    margin-top: 100px; /* Adjust this value for desired spacing above the button */
}

.registro{
    height: 592px;
    width: 662px;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.registro h1 {
    text-align: center; 
    margin-bottom: 20px; 
    margin-top: 1px;
}


#formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto; 
}

#formulario label {
    margin-bottom: 5px; 
}

#formulario input {
    margin-bottom: 32px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

#formulario button {
    padding: 10px; 
    background-color: #FF6F1E; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
        
}

#formulario button:hover {
    background-color: #50647a; 
    
}

.div_registro{
    padding-top: 62px;
}

.master-registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
=======

/*SLIDER DE IMÁGENES*/
.intro-container {
    width: 80%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.intro-container a:hover {
    color: blue;
}

.intro-description {
    flex: 1;
    max-width: 80%;
}

.img-slider {
    flex: 2;
    position: relative;
    width: 80%;
    height: 500px;
    margin: 20px auto;

}

.img-slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-slider .slide.active {
    opacity: 1;
}

.img-slider .slide img {º
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img-slider .navigation {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .slidebutton {
    background: rgba(165, 165, 165, 0.5);
    width: 25px;
    height: 3px;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.img-slider .navigation .slidebutton.active {
    background: white;
}

@media screen and (max-width:950px) {
  
  .intro-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: 800px;
  }

  
  .intro-container {
    gap: 0;
  }

  
  .img-slider {
    flex-shrink: 0;
    min-width: 300px;
    width: 80%;
  }



 

  
>>>>>>> main
}